<div class="car mat-card" id="card-experiencia">
  <div class="card-titles">
      <h2>Experiencia  <small><a href="#" style="display:inline;" class="btn-rigt" id="editar-experiencia"><small ><i class="fa fa-pen"></i></small></a></small></h2>
  </div>
  <div class="texto-card align-middle" style="padding-left: 0px; padding-bottom: 0px;" >
        <div class="card" style="padding-left: 6px; padding-bottom: 3px;">
          <li> Proyecto Integrador - Codo a Codo (app web - fullstack JAVA)</li>
          <li> Proyecto Integrador - Argentina Programa 3.0 / Etapa 2 (app web - fullstack JAVA)</li>
          <li> Proyecto Integrador - Informatorio / Etapa 2 (app web - fullstack PYTHON)</li>
          <li> Proyecto Universitario (Desarrollo interprete de RSS - Grupal (Java/ANTLR))</li>
          <li> Proyecto Universitario (Desarrollo del juego "Lights Out" - Pharo y Smalltalk)</li>
          <li>Bot Discord (node.js/python)</li>
        </div>
  </div>
</div>
