<div class="car mat-card" id="card-experiencia">
  <div class="card-titles">
      <h2>Experiencia  <small><a title="editor" href="#" style="display:inline;" class="btn-rigt" id="editar-experiencia"><small ><i class="fa fa-pen"></i></small></a></small></h2>
  </div>
  <div class="texto-card align-middle " >
        <div class="card container" style="padding-left: 4px; padding-bottom: 4px; margin-left: 10px;" >
          <div class="row">
            <div class="card col">
              Proyecto Integrador - Codo a Codo (app web - fullstack JAVA)
            </div>
            <div class=" card col">
              Proyecto Integrador - Argentina Programa 3.0 / Etapa 2 (app web - fullstack JAVA)
            </div>
          </div>
          <div class="row">
            <div class="card col"> Proyecto Integrador - Informatorio / Etapa 2 (app web - fullstack PYTHON)</div>
            <div class="card col"> Proyecto Universitario (Desarrollo interprete de RSS - Grupal (Java/ANTLR))</div>
          </div>
          <div class="row">
            <div class="card col"> Proyecto Universitario (Desarrollo del juego "Lights Out" - Pharo y Smalltalk)</div>
            <div class="card col">Bot Discord (node.js/python)</div>
          </div>
        </div>
  </div>
</div>
