<div class="car mat-card" id="card-educacion">
  <div class="card-titles">
      <h2>Educación  <small><a href="#" style="display:inline;" class="btn-rigt" id="editar-educacion"><small><i class="fa fa-pen"></i></small></a></small></h2>
  </div>
  <div class="texto-card">
      <ul>
        <li>Ing. en Sistemas de Informacion - Estudiando en UTN FRRe (2020-Actualidad)</li>
        <li>Curso de desarrollo Fullstack (Backend Java) - Codo a Codo (2021)</li>
        <li>Curso de desarrollo Fullstack (Backend Node.js) - Codo a Codo (2022)</li>
        <li>Curso de desarrollo con React.js - Codo a Codo (2022)</li>
        <li>Informatorio Chaco - 2da Etapa (2021)</li>
        <li>Infogamers - 1ra Etapa (2021)</li>
        <li>Argentina Programa - 2da Etapa (2022)</li>
      </ul>
  </div>
</div>
